header {
    height: 100vh;
    padding-top: 10rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

.header_container h1{
    opacity: 0;
    animation: fadeInText 5s 4s infinite;
}
@keyframes fadeInText{
    0%{
        opacity: 0;
    }50%{
        opacity: 1;
    }100%{
        opacity: 0;
    }
} 

/* .name::after{
    content: '';
    position: absolute;
    left: 250px;
    background: var(--color-bg-variant);
    width: 80%;
    height: 10%;
    border-left: 2px solid var(--color-primary);
    animation: typing 4s steps(15) infinite;
}

@keyframes typing{
    40%, 60%{
        left: 75%;
    }100%{
        left: 20;
    }
} */



/* ========== CTA ============ */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ========== HEADER SOCIALS ============ */
/* .header_socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 0;
}

.header_socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
} */

/* ========== HEADER SOCIALS ============ */
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 3rem;
    border-radius: 5rem 5rem 0 0;
    overflow: hidden;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
}

/* ========== SCROLL DOWN ============ */
.scroll_down {
    position: absolute;
    padding-top: 3rem;
    font-weight: 300;
    font-size: 1.7rem;
}

/* =================== MEDIA QUERIES (MEDIUM DEVICES) =================== */
@media screen and  (max-width: 1024px) {
    header {
        height: 80vh;
        padding-top: 10rem;
    }
}

/* =================== MEDIA QUERIES (SMALL DEVICES) =================== */
@media screen and (max-width: 600px) {
    header {
        height: 80vh;
    }

    .header_socials, .scroll_down {
        display: none;
    }
}